<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Your Answer:</h2>
        <%= form_for [@question, @answer] do |f| %>
            <p>
              <%= f.label :contentAnswer %><br>
              <%= f.text_area :contentAnswer, :id => "contentAnswer" %>
            </p>
            <p>
              <%= f.submit %>

            </p>
        <% end %>


      </div>
    </div>
  </div>
</div>