<div class="container">
  <div class="tab-pane active" id="#userQuestions">

    <h3 style="color: #730E15"><%= @user.login %></h3>

    <% @displayQuestions.each do |question| %>
        <div>
          <p><%= link_to question.title, question_path(question) %></p>
          <br/>
        </div>
    <% end %>
  </div>
</div>